.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.papyrus {
    font-family: "Papyrus", fantasy;
}

.lucida_handwriting {
    font-family: "Lucida Handwriting", cursive;
}

.lucida_console {
    font-family: "Lucida Console", Courier, monospace;
  }

